{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="font-sans bg-gray-200">
  <nav class="navbar navbar-expand-lg custom-navbar-bg">
    <div class="container-fluid">
      <button class="button-product-page">
        <img src="https://raw.githubusercontent.com/kayzaazr/cupcat-shop/main/gambar-website/BukuKu..png" class="logobuku"> 
    </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" style="margin-left: 500px">
                <li class="nav-item">
                    <a class="nav-link active" style="font-family: Amiko-Regular, Helvetica;font-size: 20px; color: #71C78F;margin-right: 10px;" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-family: Amiko-Regular, Helvetica;font-size: 20px; color: #71C78F; margin-right: 10px; margin-left: 10px;" href="/product_page">Product Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-family: Amiko-Regular, Helvetica;font-size: 20px; color: #71C78F;margin-right: 10px; margin-left: 10px;" href="/leaderboard/">Product Leaderboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="font-family: Amiko-Regular, Helvetica;font-size: 20px; color: #71C78F;margin-right: 10px; margin-left: 10px;" href="/cart/">
                    <img src="https://github.com/MahogaHeryasa/temp/blob/master/IMG/Group%2059.png?raw=true"/>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="font-family: Amiko-Regular, Helvetica;font-size: 20px; color: #71C78F;margin-right: 10px; margin-left: 10px;" href="">{{name}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <p>Sesi sebelumnya leaderboard dibuka: {{ last_opened }}</p>
    <div class="bg-white p-5 flex items-center justify-between">
      <input oninput="filter(this)" type="text" placeholder="Cari buku Anda..." class="flex-grow border rounded-lg p-2 text-white" style="background-color:#71C78F; " placeholder="Search">
    </div>

    <div class="p-5 bg-white">
      <h1 class="text-2xl my-5">LeaderBoard</h1>
      <table id="product_table" class="w-full">
      </table>
    </div>

    <table style="align-items: center; text-align: center;" id="comment_table"></table>
      <!-- <tr style="background-color: #71C78F">
        <th>Comment Section</th>
      </tr>

      {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

      {% for comment in comments %}
      <tr>
        <td>{{ comment.comment }}</td>
      </tr>
      {% endfor %}
    </table> -->

    <br />

    <a href="{% url 'leaderboard:create_comment' %}">
      <button>
        Add New Comment
      </button>
    </a>

    <script src="{% static 'js/leaderboard.js' %}"></script>
    <script>
      async function getProducts() {
    try {
        const response = await fetch("{% url 'leaderboard:get_product_json' %}");
        if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
        }
        
        const products = await response.json();
        
        // Sort the products by the 'buys' attribute in ascending order
        products.sort((a, b) => a.buys - b.buys);
        
        return products;
    } catch (error) {
        console.error("Error fetching and sorting products:", error);
        throw error;
    }
}


async function refreshProducts() {
    document.getElementById("product_table").innerHTML = ""
    const products = await getProducts()
    products.sort((a, b) => b.buys - a.buys);
    let htmlString = `<tr>
        <th>Rank</th>
        <th>Title</th>
        <th>Price</th>
        <th>Author</th>
        <th>Stars</th>
        <th>Buys</th>
    </tr>`
    var rank = 0
    products.forEach((item) => {
        rank +=1
        htmlString += `\n<tr>
        <td>${rank}</td>
        <td>${item.fields.title}</td>
        <td>${item.fields.price}</td>
        <td>${item.fields.author}</td>
        <td>${item.fields.stars}</td>
        <td>${item.fields.buys}</td>
    </tr>` 
    })


    document.getElementById("product_table").innerHTML = htmlString
}

refreshProducts()

async function filter(input){
document.getElementById("product_table").innerHTML = ""
    const products = await getProducts()
    products.sort((a, b) => b.buys - a.buys);
    let htmlString = `<tr>
        <th>Rank</th>
        <th>Title</th>
        <th>Price</th>
        <th>Author</th>
        <th>Stars</th>
        <th>Buys</th>
    </tr>`
    var rank = 0
    products.forEach((item) => {
        rank +=1
        if(item.fields.title.toLowerCase().includes(input.value.toLowerCase())){
        htmlString += `\n<tr>
        <td>${rank}</td>
        <td>${item.fields.title}</td>
        <td>${item.fields.price}</td>
        <td>${item.fields.author}</td>
        <td>${item.fields.stars}</td>
        <td>${item.fields.buys}</td>
        </tr>` 
        }
        
    })


    document.getElementById("product_table").innerHTML = htmlString
}
    </script>

</body>
{% endblock %}
