{% extends 'base.html' %}

{% block meta %}
<style>
.wireframe { 
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.text-wrapper-2 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(54.99, 175.51, 95.97) 0%,
    rgb(86.84, 173.39, 116.26) 14.95%,
    rgb(116.19, 202.07, 145.39) 33.85%,
    rgb(72.9, 161.7, 103.09) 47.69%,
    rgb(51.92, 175.51, 93.94) 63.74%,
    rgb(115.35, 198.89, 143.76) 80.63%,
    rgb(80.91, 173.39, 112.35) 91.16%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Ancress-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 34px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-4 {
  margin-top: 20px;
  font-family: "Amiko-Regular", Helvetica;
  font-weight: 400;
  color: #093100;
  font-size: 19.9px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-5 {
  margin-top: 20px;
  font-family: "Amiko-Bold", Helvetica;
  font-weight: 700;
  color: #093100;
  font-size: 19.9px;
  letter-spacing: 0;
  line-height: normal;
}

.overlap .card {
  margin-top: 10px;
  height: 50px;
  border: none;
  box-shadow: 3.2492px 3.2492px 12.99679px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
              to left, #74B666 0%, #74B666 75%, 
              transparent 75%, transparent 100%);
}

.text-wrapper-9 {
  font-family: "Amiko-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19.9px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-10 {
  font-family: "Amiko-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 19.9px;
  letter-spacing: 0;
  line-height: normal;
}

.card-container {
  margin-top: 220px;
  margin-left: 50px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
} 

.card-container .card {

  box-shadow: 3.2492px 3.2492px 12.99679px 0px rgba(0, 0, 0, 0.25);
  border: none;
  width: 888px;
}

.card-container .card-text {
  margin-bottom: none;
}

.form-outline input[type="number"] {
  color: #71C58E;
  background-color: #E1FFEC; 
}

.card-container button {
  background-color: #71C58E;
  border: none;
}

.card-container button:hover {
  background-color:#5D886A;
}

.input-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-left: 20px;
  border:hidden;
  color: white;
  background: #79C278;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25) inset;
  width: 100%;
  height: 40px; 
  /* position: absolute;
  top: 100px;
  left: 50px;       */
}

.input-search::placeholder{
  color: white;
}

.input-search:focus{
  outline: none;
  border: none;
}

.centered-image {
    position: absolute;
    top: 100%;
    left: 700px;
    transform: translate(-50%, -50%);
  }

  .centered-image-2 {
    position: absolute;
    top: 660px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 60px;
  }

  #amount {
    border:hidden;
    color: white;
    background: #79C278;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25) inset;
  }

  #amount::placeholder{
  color: white;
  }

  #amount:focus{
    outline: none;
    border: none;
  } 

  .modal-footer button {
    background-color: #79C278;
    border: none;
  }

  .col .btn {
    background-color: #71C58E;
    border: none;
  }

  .col .btn:hover {
    background-color:#5D886A;
  }

  .col-4 {
    border-left: 2px dotted #48A166;
  }

</style> 
{% endblock %}

{% block content %}
  <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img class="mask-group" style="height: 46px; width: 198px;" src="https://github.com/MahogaHeryasa/temp/blob/master/IMG/Group%2055.png?raw=true" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav" style="margin-left: 500px">
                  <li class="nav-item">
                      <a class="nav-link active" style="font-family: Amiko-Regular, Helvetica;font-size: 20px; color: #71C78F;margin-right: 10px;" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" style="font-family: Amiko-Regular, Helvetica;font-size: 20px; color: #71C78F; margin-right: 10px; margin-left: 10px;" href="/product_page">Product Page</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" style="font-family: Amiko-Regular, Helvetica;font-size: 20px; color: #71C78F;margin-right: 10px; margin-left: 10px;" href="/leaderboard/">Product Leaderboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="font-family: Amiko-Regular, Helvetica;font-size: 20px; color: #71C78F;margin-right: 10px; margin-left: 10px;" href="/cart/">
                      <img src="https://github.com/MahogaHeryasa/temp/blob/master/IMG/Group%2059.png?raw=true"/>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="font-family: Amiko-Regular, Helvetica;font-size: 20px; color: #71C78F;margin-right: 10px; margin-left: 10px;" href="">{{name}}</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="row">
    <div id="cart_empty">
    </div>
    <div class="col-8" style="padding-left: 70px; padding-right: 70px; padding-top: 30px;">
      
      <input class="input-search" id="searchBar" type="text" placeholder="Cari buku Anda...">
      <h3 id="item_in_cart" class="text-wrapper-2" style="margin-top: 30px;"></h3>

      <div class="card-container" id="cardContainer">
        <div class="row" id="cart_card">
          
        </div>
      </div>
    </div>

    <div class="col-4" style="padding-left: 50px; padding-right: 50px;" id="details">

    </div>
  </div>
    <!-- <div class="wireframe">
      <div class="vertical-line"></div>
        <input class="input-search" id="searchBar" type="text" placeholder="Cari buku Anda...">
        <div class="text-wrapper-2" id="item_in_cart"></div>
        <div id="details">
        </div>
          <div class="text-wrapper-5" id="total_item"></div>
        <div class="overlap">
          <div id="card_total"></div>
        </div>
        <div id="btn_order"> </div>
        <div class="card-container" id="cardContainer">
          <div class="row" id="cart_card">
          </div>
        </div>
    </div> -->

    <div class="modal fade" id="editCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" style="font-family: Amiko-Bold, Helvetica; color: #57AD74; font-weight: bold;">EDIT BOOK AMOUNT</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="form" onsubmit="return false;">
              {% csrf_token %}
              <input min="1" type="number" class="form-control" id="amount" name="book_amount" placeholder="Book Amount" value=""></input>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="button_edit" data-bs-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" aria-hidden="true">
      <input type="number" id="hiddenInput" name="myHiddenField" value="" />
    </div>

<script>
  async function getCartBook() {
    return fetch("/cart/get-cart/").then((res) => res.json())
  }

  async function refreshBooks() {
    const carts = await getCartBook()

    const cartsL = carts.length
    document.getElementById("cart_card").innerHTML = ""
    document.getElementById("item_in_cart").innerHTML = ""
    document.getElementById("details").innerHTML = ""
    document.getElementById("cart_empty").innerHTML = ""
    let htmlStringCard = ``
    let totalBook = 0
    let totalPrice = 0
    let totalAmount = 0

    if (cartsL != 0) {
      carts.forEach((cart) => {
        let price = cart.book_amount * cart.book_price
        totalPrice += price
        totalAmount += cart.book_amount
        totalBook += 1
        htmlStringCard += 
        `<div class="col-12"> 
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-2 col-md-8 text-end">
                  <img style="height: 160px;" src="${cart.book_img}" />
                </div>
                <div class="col mb-5">
                  <h5 class="card-title" style="font-family: Amiko-Regular, Helvetica; color: #57AD74;">${cart.book_title}</h5>
                  <p class="card-text" style="font-family: Amiko-Regular, Helvetica;">Author: ${cart.book_author}</p>
                  <p class="card-text" style="font-family: Amiko-Bold, Helvetica; font-weight: bold; color: #57AD74; font-size:large;">Rp. ${Math.ceil(price*15000).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")} </p>
                  <div class="d-flex" style="max-width: 300px; max-height: 1px;">
                    <button type="button" class="btn btn-primary h-25 me-2" data-mdb-toggle="tooltip" title="Remove item" onclick="deleteCart(${cart.id})">
                      <img width="15" height="15" src="https://github.com/MahogaHeryasa/temp/blob/master/IMG/bin.png?raw=true" />
                    </button>
                    <button class="btn btn-primary h-25 me-2" onclick="decrease(${cart.id})">
                      -
                    </button>
        
                    <div class="form-outline">
                      <input text-allign="center" width="50" id="form1" min="1" name="quantity" value="${cart.book_amount}" type="number" class="form-control" readonly/>
                    </div>
  
                    <button class="btn btn-primary h-25 ms-2" onclick="increase(${cart.id})">
                       +
                    </button>

                    <button class="btn btn-primary h-25 ms-2" data-bs-toggle="modal" data-bs-target="#editCart" onclick="passValue(${cart.id})">
                       ..
                    </button>

                    <a type="button" href="/cart/edit-cart/${cart.id}" style="height:20px;" class="btn btn-primary h-25 ms-2">
                      EDIT
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer" style="background: #74B666; height: 30px;"></div>
          </div>
        </div>  `

      })
      htmlStringCard += `
      <h6 class="mt-4 text-center">
        <a href="/product_page">
          <img src="https://github.com/MahogaHeryasa/temp/blob/master/IMG/Group%2053%20(1).png?raw=true">
            </img>
        </a>
      </h6>`
      document.getElementById("cart_card").innerHTML = htmlStringCard
      document.getElementById("item_in_cart").innerHTML = totalBook + " Item added"
      document.getElementById("details").innerHTML = `      <h3 class="text-wrapper-2" style="margin-top: 100px;">Details</h3>
      <div class="row">
        <div class="col-6">
          <p class="text-wrapper-4">Quantity</p>
        </div>
        <div class="col-6 text-end">
          <p class="text-wrapper-5">${totalAmount}</p>
        </div>
      </div>
      <div class="overlap">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3">
                <p class="text-wrapper-10">Total</p>
              </div>
              <div class="col text-end">
                <p class="text-wrapper-9">Rp. ${Math.ceil(totalPrice*15000).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="order" style="margin-bottom: 150px; margin-top: 200px; display: flex; justify-content: center; align-items: center; ">
          <a href="{% url 'checkout:checkout' %}">
            <img height="70px" width="350px" src="https://github.com/MahogaHeryasa/temp/blob/master/IMG/Group%2019%20(1).png?raw=true"/>
          </a>
        </div>
      </div>
`                                   
    }
    else {
      document.getElementById("cart_empty").innerHTML =`<div class="col-12" style="display: flex; justify-content: center; align-items: center;">
                                                          <a>
                                                            <img src="https://github.com/MahogaHeryasa/temp/blob/master/IMG/Group%2052.png?raw=true" alt="Your Cart is Empty" />
                                                          </a>
                                                        </div>
                                                        <div class="col-12" style="margin-top:10px;display: flex; justify-content: center; align-items: center;">
                                                          <a href="{% url 'product_page:show_product' %}">
                                                            <img  src="https://github.com/MahogaHeryasa/temp/blob/master/IMG/Group%2045.png?raw=true"/>
                                                          </a>
                                                        </div>`
      document.getElementById("searchBar").type = "hidden"
      var element = document.getElementById("details")
      element.style.borderLeft = "none"
      element.classList.add("col-4")
    }
  }

  refreshBooks()

  async function increase(cartId){
    fetch("/cart/increase-cart/" + cartId, {
    method: "POST",
    }).then(refreshBooks)
    document.querySelector('input[type=number]').stepUp()
  }

  async function decrease(cartId){
    fetch("/cart/decrease-cart/" + cartId, {
        method: "POST",
    }).then(refreshBooks)
    document.querySelector('input[type=number]').stepUp()
  }

  async function deleteCart(cartId){
    fetch("/cart/delete-cart/" + cartId, {
        method: "POST",
    }).then(refreshBooks)
  }  

  $(document).ready(function(){
    $("#searchBar").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#cardContainer .card").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  async function passValue(cartId) {
    document.getElementById('hiddenInput').value = cartId
  }
  async function edit() {
      var amount = document.getElementById('amount').value
      var cartId = document.getElementById('hiddenInput').value
      if (amount != "") {
        fetch("/cart/edit/" + cartId, {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
        }).then(refreshBooks)
      }
      document.getElementById("form").reset()
      return false
  }

  document.getElementById('button_edit').onclick = edit

</script>
{% endblock %} 